In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
refNetwork = pd.read_csv(os.path.join('DELAY', 'refNetwork.csv'))
refNetwork

    Gene1 Gene2
0     BAX  ACHV
1     BAX  ACON
2     BAX  ADMA
3     BAX  ADPT
4     BAX  ALBT
..    ...   ...
872  VTRS   VMD
873  VTRS  VSTM
874  VTRS  VYGR
875  VTRS  XOMA
876  VTRS  XXII

[877 rows x 2 columns]

In [6]:
start_date, end_date = '2012-01-01', '2023-12-31'
ix = pd.date_range(start_date, end_date, freq = 'B')
cols = refNetwork.Gene2.sort_values().unique()
X = pd.DataFrame(index = ix, columns = cols, dtype = np.float64)
datadir = os.path.join('stock-market-dataset', 'stocks')
for col in X.columns:
    pth = os.path.join(datadir, col + '.csv')
    df = pd.read_csv(pth, header = [0, 1, 2], index_col = 0)
    df.index = pd.to_datetime(df.index)
    X[col] = df['Adj Close']
X = np.log1p(X.dropna(how = 'all').fillna(0.).T)
X.to_csv(os.path.join('DELAY', 'NormalizedData.csv'))
X

c:\Users\ccrea\miniconda3\envs\stock-networks\Lib\site-packages\pandas\core\internals\blocks.py:395: RuntimeWarning: invalid value encountered in log1p
  result = func(self.values, **kwargs)

,2012-01-03,2012-01-04,2012-01-05,2012-01-06,2012-01-09,2012-01-10,2012-01-11,2012-01-12,2012-01-13,2012-01-17,...,2023-12-15,2023-12-18,2023-12-19,2023-12-20,2023-12-21,2023-12-22,2023-12-26,2023-12-27,2023-12-28,2023-12-29
ABEO,7.467942,7.467942,7.467942,7.438972,7.438972,7.453562,7.453562,7.453562,7.431596,7.416679,...,1.769855,1.740466,1.743969,1.745716,1.754404,1.786747,1.806648,1.811562,1.814825,1.793425
ABT,3.075569,3.071862,3.069666,3.061001,3.060830,3.065258,3.061652,3.057171,3.061824,3.066627,...,4.651039,4.658122,4.661417,4.652054,4.661965,4.666975,4.668790,4.673856,4.679345,4.676379
ACHC,2.390596,2.373975,2.376765,2.514465,2.509599,2.522524,2.511224,2.517696,2.511224,2.516890,...,4.336375,4.340293,4.350536,4.339380,4.352727,4.367674,4.379398,4.378019,4.372607,4.366405
ACHV,10.171949,10.157548,10.142071,10.164351,10.210715,10.226766,10.222777,10.229152,10.220376,10.253475,...,1.430311,1.460938,1.492904,1.479329,1.495149,1.541159,1.617406,1.631199,1.640937,1.633154
ACON,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,10.326692,10.455469,10.644706,10.829893,10.550776,10.535509,10.372995,10.377509,10.368460,10.273153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YMAB,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.032088,1.979621,2.018895,1.960095,1.986504,2.052841,2.130610,2.118662,2.127041,2.056685
ZBH,3.865423,3.852084,3.863606,3.866148,3.873377,3.893697,3.889808,3.885547,3.885192,3.887857,...,4.769744,4.770662,4.780380,4.780628,4.777731,4.785245,4.794270,4.791898,4.795984,4.796554
ZVRA,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.751805,1.757858,1.774952,1.748330,1.774952,1.786747,1.783391,1.868721,1.902107,2.021548
ZYME,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.312535,2.308567,2.335052,2.329227,2.334084,2.382320,2.457878,2.463853,2.459589,2.432736
ZYXI,0.294477,0.298114,0.305349,0.308947,0.290826,0.294477,0.294477,0.290826,0.290826,0.272370,...,2.408745,2.426571,2.439735,2.438863,2.446685,2.454447,2.460443,2.465554,2.475698,2.475698

In [7]:
t = np.arange(X.shape[1]) / (X.shape[1] - 1)
t = pd.Series(t, index = X.columns, name = 'PseudoTime')
t.to_csv(os.path.join('DELAY', 'PseudoTime.csv'))
t

2012-01-03    0.000000
2012-01-04    0.000331
2012-01-05    0.000663
2012-01-06    0.000994
2012-01-09    0.001326
                ...
2023-12-22    0.998674
2023-12-26    0.999006
2023-12-27    0.999337
2023-12-28    0.999669
2023-12-29    1.000000
Name: PseudoTime, Length: 3018, dtype: float64

In [9]:
out_symbols = pd.Series(X.index)
out_symbols.to_csv(os.path.join('DELAY', 'TranscriptionFactors.csv'),
                   index = False, header = False)
out_symbols

0      ABEO
1       ABT
2      ACHC
3      ACHV
4      ACON
       ...
455    YMAB
456     ZBH
457    ZVRA
458    ZYME
459    ZYXI
Length: 460, dtype: object

In [15]:
ix = refNetwork.Gene1.sort_values().unique()
fold = pd.Series(1, index = ix, name = 'Split')
fold.loc[['MDT', 'VTRS']] = 2
fold.to_csv(os.path.join('DELAY', 'splitLabels.csv'))
fold

BAX     1
BSX     1
EW      1
FMS     1
ICUI    1
MDT     2
PHG     1
RDY     1
TFX     1
VTRS    2
Name: Split, dtype: int64