In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
refNetwork = pd.read_csv(os.path.join('DELAY', 'refNetwork.csv'))
refNetwork

    Gene1 Gene2
0     BAX  ACHV
1     BAX  ACON
2     BAX  ADMA
3     BAX  ADPT
4     BAX  ALBT
..    ...   ...
872  VTRS   VMD
873  VTRS  VSTM
874  VTRS  VYGR
875  VTRS  XOMA
876  VTRS  XXII

[877 rows x 2 columns]

start_date, end_date = '2012-01-01', '2023-12-31'
ix = pd.date_range(start_date, end_date, freq = 'B')
cols = refNetwork.Gene2.sort_values().unique()
X = pd.DataFrame(0, index = ix, columns = cols, dtype = np.float64)
datadir = os.path.join('', 'stocks')
for col in X.columns:
    pth = os.path.join(datadir, col + '.csv')
    df = pd.read_csv(pth, header = [0, 1, 2], index_col = 0)
    df.index = pd.to_datetime(df.index)
    X[col] = df['Adj Close']
R = X.pct_change().dropna(how = 'all')
R = R.sub(R.mean(1), 0); R

In [ ]:
# np.random.seed(1)
# split = pd.Series(1, index = X.columns, name = 'Split')
# split.loc[split.sample(frac = .2).index] = 2
# split.to_csv('splitLabels.csv'); split

In [ ]:
# tf = pd.Series(X.columns).to_csv(
#     'TranscriptionFactors.csv',
#     index = False, header = False)

In [ ]:
# t = np.arange(X.shape[0]) / (X.shape[0] - 1)
# t = pd.Series(t, index = X.index, name = 'PseudoTime')
# t.to_csv('PseudoTime.csv'); t